@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    /* Color Variables */
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);

    /* Fonts */
    --font: 'Epilogue', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}